#aboutSec {
    border-bottom: 2px solid white;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}

#bioTitle {
    all: unset;
    margin-left: 2rem;
    font-size: 3rem;
    color: var(--third-col);
    position: relative;
    margin-top: 2rem;
    font-weight: 600;
    align-self: flex-start;
}

#bioTitle:after {
    content: '';
    height: 0.4rem;
    width: 5rem;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 10rem;
    background-color: var(--second-col);
}

#bioPara {
    margin-top: 2rem;
    /* background-color: red; */
    width: 90%;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: var(--shade-col);
}

#bioPara p {
    margin-bottom: 2rem;
}

#skillOverview {
    /* background-color: yellow; */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

#frontend, #backend {
    background-color: var(--highLight);
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    padding: 2rem;
    border-radius: 1.5rem;
    position: relative;
}

#frontend h3, #backend h3 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: var(--shade-col);
}

.bar {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    /* margin: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 2.5rem;
    position: relative;
    z-index: 10;
    font-weight: 900;
}

#frontBar {
    background: conic-gradient(
    var(--second-col) 0% 78%,   
    #e0e0e0 78% 100%     
  );
}

#backBar {
    background: conic-gradient(
    var(--second-col) 0% 25%,   
    #e0e0e0 25% 100%    
  );
}

.inside {
    height: 9rem;
    width: 9rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 0 5px var(--shade-col);
}

.text p {
    color: var(--shade-col);
    font-size: 1.3rem;
}

#techStack {
    margin-top: 8rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#techStack p {
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
    margin-bottom: 2rem;
}

#techStack h2 {
    /* background-color: pink; */
    margin: 2rem;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    /* display: block; */
    position: relative;
    /* background-color: red; */
}

#techStack h2 span {
    position: relative;
}

#techStack h2 span:after {
    content: '';
    height: 0.4rem;
    width: 5rem;
    position: absolute;
    right: 3rem;
    bottom: -5px;
    border-radius: 10rem;
    background-color: var(--second-col);
}

.stackBox ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.stackBox ul li {
    height: 8rem;
    width: 8rem;
    background-color: var(--highLight);
    margin: 1rem;
    flex-shrink: 0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stackBox ul li img {
    width: 4.5rem;
    height: 4.5rem;
}

#frontStack, #backStack {
    margin-bottom: 3rem;
    padding: 1rem;
}

#backStack {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#backStack ul {
    justify-content: end;
}

#frontStack h2, #backStack h2 {
    all: unset;
    font-size: 2rem;
    color: var(--second-col);
    font-weight: 600;
}
