#frontSec {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

/* photo based design */
#pic {
    height: 30vh;
    width: 30vh;
}

#codeAnim {
    height: 100%;
    width: 100%;
    padding-bottom: 3vh;
}

/* text based intro */
#intro {
    width: 80%;
    font-size: 2.4vh;
}

#hello {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: var(--second-col);
}

#hello span::before {
  content: '';
  display: inline-block;
  height: 0.2vh;
  width: 4vh;
  margin-right: 0.5vh;
  border-radius: 4vh;
  background-color: var(--second-col);
  vertical-align: middle;
}

#highLight {
    font-weight: 900;
    font-size: 1.2em;
}

#highLight span {
    font-size: 1.3em;
    color: var(--second-col);
}

#job {
    text-align: center;
    font-size: 0.8em;
    color: var(--shade-col);
}

#shortIntro {
    font-size: 0.7em;
    margin-top: 1vh;
    line-height: 2.5vh;
}

#social {
    margin-top: 1.2em;
}

#social ul {
    list-style-type: none;
    display: flex;
}

#social ul li a {
    color: none;
    text-decoration: none;
    color: var(--second-col);
    padding: 1vh;
    margin: 0.3vh;
    font-size: 2em;
}

#reachBtn {
    margin-top: 1.4em;
    display: flex;
    justify-content: center;
}

#reachBtn a {
    color: none;
    text-decoration: none;
    color: var(--prime-col);
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: var(--second-col);
    font-size: 0.9em;
    text-transform: capitalize;
    border-radius: 2em;
    font-weight: 600;
}


/* responsive management */
@media (min-width: 430px) {
    #pic {
        height: 40vh;
        width: 40vh;
    }
}

@media (min-width: 570px) {
    #shortIntro {
        font-size: 0.9em;
    }
}

@media (min-width: 880px) {
    #frontSec {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #pic {
        height: 45vh;
        width: 45vh;
    }

    #intro {
        width: 50%;
    }

    #shortIntro {
        font-size: 0.9em;
        line-height: 1.3em;
    }

    #highLight {
        font-weight: 900;
        font-size: 1.5em;
    }
}

@media (min-width: 1000px) {
    #pic {
        height: 50vh;
        width: 50vh;
    }

    #shortIntro {
        font-size: 1em;
        line-height: 1.5em;
    }

    #highLight {
        font-weight: 900;
        font-size: 1.5em;
    }

    #social ul li a {
        font-size: 1.4em;
    }

}

@media (min-width: 1170px) {
    #pic {
        height: 60vh;
        width: 60vh;
    }

    #shortIntro {
        font-size: 1.3em;
        line-height: 1.3em;
    }

    #highLight {
        font-weight: 900;
        font-size: 1.8em;
    }

    #social ul li a {
        font-size: 2.5em;
    }
}

@media (min-width: 875px) and (min-height: 1000px) {
    header {
        height: 8rem;
    }
    
    nav {
        font-size: 2.5rem;
    }

    #logo {
        font-size: 4rem;
    }

    #contactBtn {
        font-size: 0.8em
    }


    #pic {
        height: 40vh;
        width: 40vh;
    }

    #intro {
        width: 90%;
    }

    #shortIntro {
        font-size: 1em;
        line-height: 1.3em;
    }

    #highLight {
        font-weight: 900;
        font-size: 1.8em;
    }

    #frontSec {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

}

/* @media (min-width: 1200px) and (min-height: 1000px) {
    header {
        background-color: red;
    }

    #pic {
        height: 45vh;
        width: 45vh;
    }

    #intro {
        width: 50%;
    }

    #frontSec {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
} */