header {
  background-color: var(--prime-col);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 60px;
  padding: 0 1.5rem;
  z-index: 10;
}

#logo {
  color: var(--second-col);
  font-size: 3rem;
  margin-left: 0;
}

nav {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  text-transform: capitalize;
}

nav ul li {
  margin-right: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--third-col);
}

#contactBtn {
  background-color: var(--second-col);
  color: var(--prime-col);
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  font-weight: 600;
}

#hamIcon {
  display: none;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--third-col);
  align-items: center;
  justify-content: center;
}

#hamIcon .ham-icon {
  position: absolute;
  font-size: 2.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#hamIcon .hidden {
  opacity: 0;
  transform: rotate(-90deg) scale(-0.5);
  pointer-events: none;
}

#hamIcon .visible {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

@media (max-width:750px) {
  #navOptions {
    display: none;
  }

  #logo {
    font-size: 3rem;
  }

  nav ul li {
    margin: 0 0 0 0.5rem;
  }

  #hamIcon {
    display: flex;
    margin-left: 2rem;
  }
}

@media (max-width:450px) {
  header {
    padding-top: 0.5rem;
    height: auto;
  }

  #logo {
    font-size: 3rem;
  }

  #contactBtn {
    display: none;
  }

  #hamIcon {
    font-size: 2.5rem;
  }
}


/* drop menu design */
#dropMenu {
  background-color: var(--second-col);
  position: absolute;
  border-radius: 1vh;
  right: 2rem;
  top: 40px;
  overflow: hidden;
}

#dropMenu ul {
  list-style: none;
}

#dropMenu ul li {
  font-size: 1.5em;
  width: 100%;
  border-bottom: 2px solid var(--prime-col);
}

#dropMenu ul li:last-of-type {
  border: none;
}

#dropMenu ul li a {
  color: none;
  color: var(--prime-col);
  display: block;
  padding: 1.3vh 3.5vh 1.3vh 2.5vh;
  text-transform: capitalize;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

#dropMenu ul li a:active {
  background-color: var(--shade-col);
}

#dropMenu ul li a i {
  margin-right: 1rem;
}

